<!--格言-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="widget-wrap" th:fragment="aphorism">
        <h3 class="follow">王者农药</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp bg-aphorism">
                <p class="bg-danger">
                    你是猴子请来的逗比吗.<br>
                    <br>
                    呵呵呵呵呵。<br>
                    <span class="aphorism-author"> -猴哥</span>
                    <br>
                </p>


            </div>
        </div>
    </div>
</body>
</html>